<!DOCTYPE html>
<html>
  <head>
    <title>ISA DevOps Shopping Center</title>
    <meta charset='utf-8'>
    <link rel='stylesheet' type='text/css' href="/static/css/index.css">
  </head>
  <body>
    <section class='container'>
      <div class='center content'>
        <div class='spacer'></div>
        <img src= "/static/image/wardrobe.jpeg" alt="Super Wardrobe" width="300px"/>
        <div class='spacer'></div>
        <div class='center'>
          <h1>Order Item Now!</h1>
        </div>
        <div class='spacer-small'></div>
        <div class='center'>
          <div class='button' style='width:512px;background-color:black;'>ORDER</div>
        </div>
      </div>
    </section>
  </body>
</html>